<script type="text/javascript">
  function postAdd()
  {
      FB.api(
        '/me/mymoviesdeploying:add',
        'post',
        { review: 'http://hollow-galaxy-1881.herokuapp.com/movies/<%= @movie.id %>' },
        function(response) {
           if (!response || response.error) {
              alert(response.error);
           } else {
              alert('Add was successful! Action ID: ' + response.id);
           }
        });
  }
  </script>

<div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '375233595877289', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
  </script>
  
  
  <fb:login-button show-faces="true" width="200" max-rows="1" scope="publish_actions">
  </fb:login-button>

<h2>Movie name </h2>
<div id="gen">
	<%= @movie.title %>
</div>
<%= stylesheet_link_tag 'mystyles' %>
<h2>Movie.genre: </h2><div id="gen"><%= @movie.genre %></div>

<h3> Reviews </h3>

<% @movie.reviews.each do |review| %>
<p>
	<div id="gen">
	<%= review.text %>
	</div>
</p>
<span class="review">
<p>
<%= time_ago_in_words review.created_at %>ago
</p>
<%= link_to "Delete Review",[@movie,review],:method=>:delete,:class=>"review",:confirm=>"Are you sure?" %>
<% end %>

<%= form_for [@movie,@movie.reviews.build] do |f| %>
<p>
<%= f.text_area :text,:size =>'40*10' %>
</p>
<p>
<%= f.submit "Submit Review" %>
</p>
<% end %>
<p>
<%= link_to 'Back', movies_path ,{:style => 'color:#B45F04;' }%>|
<%= link_to 'Edit', edit_movie_path(@movie),{:style => 'color:#B45F04' } %> |
<%= link_to "Delete",[@movie],:method=>:delete,:class=>"review",:confirm=>"Are you sure?" %>
</p>


