<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml">
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mymoviesdeploying: http://ogp.me/ns/fb/mymoviesdeploying#">
<title>My Movies</title>
  <meta property="fb:app_id" content="375233595877289" /> 
  <meta property="og:type"   content="mymoviesdeploying:cinema" /> 
  <meta property="og:url"    content="http://hollow-galaxy-1881.herokuapp.com/movies/new" /> 
  <meta property="og:title"  content="Sample Cinema" /> 
  <meta property="og:image"  content="https://blazing-water-5452.herokuapp.com" /> 

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key,value| %>
<p>
<div id="gen">
<%= value %>
<div>
</p>
<% end %>
<%= yield %>

</body>
</html>
